html, body {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}


body {
    position: fixed;
    width: 100%;
}


/* container */
.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;            /* ✅ centraliza */
    padding: 15px;

    position: relative;
}

/* título */
h1 {
    text-align: center;
    color: #00bfff;
    font-size: 20px;
}

/* busca */
input {
    width: 100%;
    padding: 18px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}

/* ✅ CARD (MOBILE REAL) */
.card {
    background: #2b2b2b;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 12px;
    border-left: 5px solid #007acc;
}

/* TAG */
.tag {
    color: #00bfff;
    font-weight: bold;
    font-size: 15px;
    word-break: break-word;
}

/* campos */
.campo {
    margin-top: 8px;
    font-size: 14px;
}

/* label */
.label {
    color: #888;
    font-size: 12px;
}

/* destaque */
.highlight {
    background: yellow;
    color: black;
}

/* botão */
.copy-btn {
    margin-top: 10px;
    background: #007acc;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    width: 100%;
    font-size: 14px;
}

/* contador */
#contador {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}
