* {
    box-sizing: border-box;
}


html, body {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-color: #706e6e;
}


/* container */
.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;            /* ✅ centraliza */
    padding: 18px;
    position: relative;
}

/* título */
h1 {
    text-align: center;
    color: #070707;
    font-size: 20px;
}

/* busca */
input {
    width: 100%;
    max-width: 100%;     /* ✅ impede ultrapassar */
    padding: 14px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;

    box-sizing: border-box;  /* ✅ ESSENCIAL */
}

/* ✅ CARD (MOBILE REAL) */
.card {
    background: #848383;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 12px;
    border-left: 5px solid #007acc;
}

/* TAG */
.tag {
    color: #050505;
    font-weight: bold;
    font-size: 18px;
    word-break: break-word;
}

/* campos */
.campo {
    margin-top: 8px;
    font-size: 14px;
}

/* label */
.label {
    color: #888;
    font-size: 12px;
}

/* destaque */
.highlight {
    background: yellow;
    color: rgb(7, 7, 7);
}

/* botão */
.copy-btn {
    margin-top: 10px;
    background: #007acc;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    width: 100%;
    font-size: 14px;
}

/* contador */
#contador {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
}
